body {
    font-family: arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

#item-input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: flex-start;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li button {
    margin-left: 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}